@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-mulish), var(--font-anuphan);
    font-style: normal;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(48, 25, 78, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .white-space-pre-line {
    white-space: pre-line;
  }
}

@layer components {
  .btn {
    color: white;
    border: none;
  }

  .btn-ghost:hover {
    background-color: transparent;
  }

  .divider:before,
  .divider:after {
    background-color: var(--fallback-bc, oklch(var(--bc) / 0.5));
  }

  .skeleton {
    border-radius: 0;
  }

  .tab:is(input:checked) {
    color: white;
    font-weight: 700;
    border-color: oklch(var(--p));
    border-bottom-width: 4px;
  }

  .tabs-bordered > .tab {
    border-color: transparent;
  }

  .avatar-group :where(.avatar){
    border-width: 2px;
  }
}

/* Calendar */
.fc {
  @apply h-full;

  .fc-toolbar.fc-header-toolbar {
    @apply mb-6;
  }

  tbody[role="presentation"] {
    @apply text-black font-semibold;
  }

  .fc-toolbar-title {
    @apply text-white font-bold text-4xl w-20;
  }

  .fc-daygrid-day-top {
    @apply flex justify-end;
  }

  .fc-daygrid-day {
    @apply bg-white/90;

    &.fc-day-other {
      @apply bg-[#cbcbcb] text-white;
    }
  }

  .fc-day-today {
    &.fc-daygrid-day {
      @apply bg-white/90;
    }
    .fc-daygrid-day-top {
      @apply mx-1 mt-[0.05rem] w-8;

      .fc-daygrid-day-number {
        @apply text-white rounded-full bg-primary/80 w-8 text-center;
      }
    }
  }

  .fc-col-header {
    @apply mb-2;
  }

  .fc-col-header-cell {
    @apply text-white text-xl uppercase;
  }

  &.fc-theme-standard .fc-scrollgrid {
    @apply border-transparent;
  }

  &.fc-theme-standard th {
    @apply border-transparent;
  }

  &.fc-theme-standard td,
  .fc-theme-standard th {
    @apply border-black;
  }

  .fc-button {
    @apply bg-primary border-none hover:bg-primary/50;

    &.fc-today-button {
      @apply capitalize font-bold w-24;
    }
  }

  .fc-button-primary {
    @apply rounded-xl;
  }

  .fc-button-primary:hover {
    @apply active:bg-primary/10;
  }

  .fc-button-primary:not(:disabled).fc-button-active {
    @apply bg-primary;
  }

  .fc-button-primary:disabled {
    @apply bg-primary/80;
  }

  .fc-highlight {
    @apply bg-primary/10;
  }

  &.fc-v-event {
    @apply bg-primary/90;
  }

  .fc-h-event {
    @apply bg-primary border-none px-1 my-[2px];
  }

  .fc-event {
    @apply cursor-pointer;
  }

  .fc-popover-title {
    @apply text-primary-content;
  }
}
