@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-mulish);
    font-style: normal;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(48,25,78,1) 50%, rgba(0,0,0,1) 100%);
  }
}

@layer components {
  .btn {
    color: white;
  }
  .btn-ghost:hover {
    background-color: transparent;
  }

  .divider:before,
  .divider:after {
    background-color: var(--fallback-bc, oklch(var(--bc) / 0.5));
  }
}
